*
!LICENSE
!*.tex
!.gitignore
!*.pdf
!arithmetic-progression/
!arithmetic-progression/*.tex
!arithmetic-progression/*.pdf
!geometric-progression/
!harmonic-progression/
!am-gm-hm
!summation_series
!misc_ap_hp_hp
!logarithm
!complex-numbers
!*.asy
